h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
a{text-decoration:none;color:#000;}
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
*, *:after, *:before{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#000;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: 'Nanum Gothic', sans-serif;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;/*overflow:hidden;position:relative;*/}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}

.content_box{width:1000px;margin:0 auto;height:100%;position:fixed;left: 50%;transform:translate(-50%, 0);}
.content_box .left_side{float:left;width:50%;position:relative;height:100%;}
.content_box .left_side .left_ctn{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.content_box .right_side{float:left;width:50%;height:100%;overflow-x:hidden;overflow-y:auto;border:3px solid #ccc;}
.content_box .right_side .right_ctn{overflow:hidden;}

@media screen and (max-width:640px){
  .content_box{width:100%;}
  .content_box .left_side{display:none;}
  .content_box .right_side{width:100%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .content_box{width:100%;}
}


/*** Post 가격  ***/
.comm_inner .title{font-size:13px;}
.comm_inner .pricing{margin:5px 0;}
.comm_inner .pricing p{display:inline-block;color:#3d3d3d;margin-right:5px;}
.comm_inner .pricing .was_price{font-size:13px;text-decoration:line-through;}
.comm_inner .pricing .is_price{font-weight:bold;}
.comm_inner .pricing .pct{}

/*** 어드민 패널 ***/
.admin_panner{font-size:13px;}



