/** Post Show Page **/
.right_side .back_arrow img{position:absolute;left:20px;top:20px;opacity:0.4;z-index:9999;width:30px;}
.show_ctn{position:relative;}
.show_ctn .img_box{height:300px;position:relative;margin-top:40px;}
.show_ctn .img_box img{width:90%;height:90%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.show_ctn .inner{margin:10px 0;padding:10px;text-align:center;}
.show_ctn .inner .inner_ctn{box-shadow:rgba(149, 157, 165, 0.3) 0px 8px 24px;padding:20px;border-radius:20px;}
.show_ctn .inner .product_title{font-size:17px;word-break:break-word;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.show_ctn .inner .pricing{margin:10px 0;}
.show_ctn .inner .pricing span{font-size:17px;}
.show_ctn .inner .pricing .is_price{font-size:18px;}
.show_ctn .inner .pricing .was_price{color:#9da3ab;font-size:13px;text-decoration:line-through;margin-right:3px;}
.show_ctn .inner .pricing .pct{background:#494BC7;color:#fff;padding:5px 7px;border-radius:10px;}
.show_ctn .inner .rating_card{margin-top:10px;}
.show_ctn .inner .rating_card .rating_box{}
.show_ctn .inner .rating_card .rating_box img{display:inline-block;}
.show_ctn .inner .rating_card .rating_box span{font-size:13px;display:inline-block;vertical-align:bottom;}
.show_ctn .inner .rating_card .rating_box i{color:#494BC7;vertical-align:bottom;}
.show_ctn .inner .evaluation_box{margin-top:15px;}
.show_ctn .inner .evaluation_box .show_eva{margin-bottom:10px;}
.show_ctn .btn{margin-bottom:50px;}
.show_ctn .btn a{display:block;width:100%;background:#363636;color:#fff;padding:10px;border-radius:10px;text-align:center;}


/*** Doughnut Chart***/
.rating_chart{width:100%;height:300px;position:relative;margin-top:15px;}
.rating_chart .chart_num{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.rating_chart .chart_num p{opacity:0.8;text-align:left;}
.rating_chart .chart_num p:nth-child(1){background: linear-gradient(to top, #494bc7 50%, transparent 50%)}
.rating_chart .chart_num p:nth-child(2){background: linear-gradient(to top, #7072d3 50%, transparent 50%)}
.rating_chart .chart_num p:nth-child(3){background: linear-gradient(to top, #9798df 50%, transparent 50%)}
.rating_chart .chart_num p:nth-child(4){background: linear-gradient(to top, #bebfeb 50%, transparent 50%)}
.rating_chart .chart_num p:nth-child(5){background: linear-gradient(to top, #e5e5f7 50%, transparent 50%)}
.chart,.doughnutSummary,.doughnutSummaryNumber,.doughnutSummaryTitle{position:absolute;top:50%;}
.chart{width:90%;height:90%;left:50%;transform:translate(-50%,-50%);}
.doughnutTip{position:absolute;min-width:30px;max-width:300px;padding:5px 15px;border-radius:1px;background:rgba(0,0,0,.8);color:#ddd;font-size:17px;text-shadow:0 1px 0 #000;text-transform:uppercase;text-align:center;line-height:1.3;letter-spacing:.06em;box-shadow:0 1px 3px rgba(0,0,0,.5);pointer-events:none;}
.doughnutTip::after{position:absolute;left:50%;bottom:-6px;content:"";height:0;margin:0 0 0 -6px;border-right:5px solid transparent;border-left:5px solid transparent;border-top:6px solid rgba(0,0,0,.7);line-height:0;}
.doughnutSummary{left:50%;color:#d5d5d5;text-align:center;text-shadow:0 -1px 0 #111;cursor:default;display:none;}
.doughnutSummaryTitle{width:100%;margin-top:-27%;font-size:22px;letter-spacing:.06em;}
.doughnutSummaryNumber{width:100%;font-size:30px;}
.chart path:hover{opacity:.65;}


/* Bar Graph Class */
.evaluation{padding:10px 0;}
.evaluation p{text-align:left;margin-bottom:5px;}
.barGraph{position:relative;width:90%;height:auto;margin:0 auto;}
.barGraph span img{width:20px;}
.graph{position:relative;list-style-type:none;padding:0;margin:0 0 0 22px;}
.graph-barBack{border-radius:10px;margin-bottom:5px;display: block;background-color:#bebfeb;border:2px solid #a6a6a6;}
/*.graph-barBack li.best{background-color:#00ff40;}
.graph-barBack li.good{background-color:#ffc04d;}
.graph-barBack li.bed{background-color:#ff4d4d;}*/
.graph-bar{background-color:#7072d3;-webkit-transition:1s ease-out;-moz-transition:1s ease-out;-o-transition:1s ease-out;transition:1s ease-out;border-radius:10px;cursor:pointer;margin-bottom:10px;position:relative;z-index:9999;display:block;height:20px;width:0%;}
.graph-bar:hover{-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s;background:#428d92;}
.graph-bar:last-child{margin-bottom:0;}
.graph-bar:after{position:absolute;content:attr(data-value);display:none;font-size:12px;border-radius:4px;color:#fff;line-height:20px;height:20px;padding:0 10px;margin-left:5px;top:0;}
.graph-bar:hover:after{display:block;}
.graph-legend{position:absolute;margin-right:10px;left:-25px;z-index:9999;font-size:16px}






/*** Tab ***/
.tabs_box{margin-top:15px;}
.tabs_box .tabs {
  position: relative;
  background: white;
  padding:20px;
  width:100%;
  height:auto;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  border-radius:20px;
}
.tabs_box .tabs h2{margin-bottom:25px;}
.tabs input[name=tab-control] {
  display: none;
}
.tabs .content section h3,
.tabs ul.tabs_ul li label { 
  font-weight: bold;
  font-size: 18px;
  color: #428BFF;
}
.tabs .content section h3{text-align:left;}
.tabs ul.tabs_ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs .content section .shipping_info{margin-top:15px;position:relative;width:100%;height:200px;}
.tabs .content section .shipping_info p{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.tabs .content section .shipping_info svg{width:60%;height:60%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);fill:#7072d3;}
.tabs .content section .info_info{margin-top:15px;position:relative;width:100%;height:200px;}
.tabs .content section .info_info ul.info_ul{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.tabs .content section .info_info ul.info_ul svg{width:60%;height:60%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);fill:#7072d3;}
.tabs .content section .info_info ul li{padding:5px 15px;text-align:center;background:#7072d3;color:#fff;border-radius:10px;margin-bottom:5px;}
.tabs ul.tabs_ul li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul.tabs_ul li img{width:30px;vertical-align:middle;opacity:0.6;}
.tabs ul li label {
  padding:5px;
  border-radius:5px;
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}
.tabs ul li label svg {
  fill: #929daf;
  height: 2.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background:#7072d3;
  border-radius: 1px;
  display:none;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h3 {
  color:#7072d3;
  /*display: none;*/
}
.tabs .content section h3::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background:#7072d3;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  /*cursor: default;*/
  /*color:#7072d3;*/
  background: rgba(73,75,199,0.1);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  /*cursor: default;*/
  /*color:#7072d3;*/
  background: rgba(73,75,199,0.1);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  /*cursor: default;*/
  /*color:#7072d3;*/
  background: rgba(73,75,199,0.1);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  /*cursor: default;*/
  /*color:#7072d3;*/
  background: rgba(73,75,199,0.1);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill:#7072d3;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(73,75,199,0.1);
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #7072d3;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #7072d3;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(73,75,199,0.1);
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #7072d3;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #7072d3;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(73,75,199,0.1);
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #7072d3;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #7072d3;
}
@media (max-width: 600px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(73,75,199,0.1);
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 600px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h3 {
    display: block;
  }
}






